<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Money by Giving Services in Bangladesh | Service Boy</title>
	<link rel="icon" href="taka.png">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
</head>
<body>

    <div class="container">
        <div class="bubble">
            <img src="bubble1.png" class="bubble1">
            <img src="bubble2.png" class="bubble2">
        </div>
        <div class="left-div">
            <div class="left-wrapper">
           <img src="logo.png" class="logo"> 
            </div>
        </div>
        <div class="right-div">
            <div class="nav-menu">
                <ul class="nav-items">
                    <li><a href="http://localhost/serviceboy/View/services/services.html">HOME</a></li>
                    <li><a href="http://localhost/serviceboy/View/services/services.html">ABOUT</a></li>
                    <li><a href="http://localhost/serviceboy/View/services/services.html">SERVICES</a></li>
                    <li><a href="http://localhost/serviceboy/View/services/services.html">TEAM</a></li>
                    <li><a href="http://localhost/serviceboy/View/services/services.html">FAQ</a></li>
                    <li><a href="http://localhost/serviceboy/View/services/services.html">CONTACT</a></li>
					<li><a href="http://localhost/serviceboy/Controller/forms/login.php">LOG IN/ REGISTER</a></li>
			
					
                </ul>

                <ul class="social-media">
                    <li><a href="https://www.facebook.com/iamraufu" target="blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/iamraufu" target="blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/iamraufu" target="blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.whatsapp.com/?lang=en" target="blank"><i class="fab fa-whatsapp"></i></a></li>
					
                </ul>
            </div>
            <div class="content">
                <div class="content-text">
                    <h2>ONE PLACE<br> FOR ALL <br>OF YOUR SERVICES</h2>
                    <h2>ITS ABOUT YOU </h2>
                    <p>To Earn Money As A Service Provider <br><br> Or Get Any Service At Affordable Cost <br><br> The Best In The Market</p>
                    <button>START NOW</button>
                    <span>3rd DECEMBER 2020<br> The Discount Day </span>
                </div>

                <div class="content-image">
                    <img src="logo2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>